name: Build database

on: 
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      mariadb:
        image: mariadb:10.7
        env:
          MYSQL_USER: test
          MYSQL_PASSWORD: test
          MYSQL_DATABASE: ispyb_build
          MYSQL_ROOT_PASSWORD: rootpassword
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    steps:
      - uses: actions/checkout@v3
      - name: Build database
        env:
          NO_USERPORTAL_DATA: 1
        run: |
          cp examples/.my.cnf .my.cnf
          bash scripts/build.sh

      - name: Regenerate sql files
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          bash scripts/backup.sh schema/
          rm .my.cnf

      - name: Create Pull Request
        if: ${{ github.event_name == 'pull_request' }}
        uses: peter-evans/create-pull-request@v3
        with:
            token: ${{ secrets.GITHUB_TOKEN }}
            commit-message: Update database sql files
            title: Update database sql files
            body: |
              This is an automated pull request to update the ISPyB database sql files
              Before merging this pull request you may want to:
              * [ ] Update `HISTORY.md` to reflect the changes in this pull request
            branch: update-schema-sql
